# Ignore GCP credentials files
gcp-credentials.json
backend/gcp-credentials.json
ci-sa-key.json
# Secrets
.venv
airflow/keys/
# Logs & generated data
airflow/logs/
backend/gcp-credentials.json
backend/.env
backend/milvus/
backend/minio/
backend/etcd/
*.log
# Notebooks & testing file
# OS junk
.DS_Store
ingestion/__pycache__/
minio/
actions-runner/
ci-sa-key.json
.pytest_cache