# Secrets
.venv
airflow/keys/
# Logs & generated data
airflow/logs/
backend/gcp-credentials.json
backend/.env
backend/milvus/
backend/minio/
backend/etcd/
*.log
# Notebooks & testing file
test/
# OS junk
.DS_Store
ingestion/__pycache__/
minio/
