__pycache__/
*.pyc
.pytest_cache/
.env
gcp-credentials.json
.venv/
venv/
.DS_Store
tests/
*.log
*.tmp
.git/
.github/
airflow/
logs/
keys/
*.ipynb_checkpoints
**/.mypy_cache/
**/.ruff_cache/
**/.coverage
